
/* ----------------------页面头部样式---------------------- */
.container-fluid{
	padding-right: 0;
	padding-left: 0;
}
.header{
	background-color: #363636;
	padding-top: 1.5rem;
}
.header>.navbar{
	background-color: #000;
	padding:1.5em;
}

.header>.navbar a{
	text-decoration: none;
}
/* logo */
.header>nav>.navbar-brand>img{
	max-width: 250px;
}
/* 导航ul */
.header #collapsibleNavbar>.navbar-nav{
	margin-left: 1.5rem;
}
/* 导航a标记 */
.header #collapsibleNavbar>.navbar-nav a{
	color: #343434;
	padding: 0.5rem 2rem;
	font-size: 1.2em;
	font-weight: bold;
}
.header #collapsibleNavbar>.navbar-nav a:hover{
	background-color: #000;
	color: white;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.navbar-light .navbar-toggler {
    color: #fff;
    border-color:  #fff;
}
/* 媒体查询 */
/* 当屏幕小于1200px时 */
@media (max-width:1200px) {
	/* 头部导航caid大小发生变化 */
	.header #collapsibleNavbar>.navbar-nav a{
		padding: 0.5rem 1.5rem;
	}
}
/* 当屏幕小于992px时 */
@media (max-width:992px) {
	/* 头部导航caid大小发生变化 */
	.header #collapsibleNavbar>.navbar-nav a{
		padding: 0.5rem 1rem;
	}
}
/* 当屏幕小于768px时 */
@media (max-width:768px) {
	/* 头部导航caid大小发生变化 */
	.header #collapsibleNavbar>.navbar-nav a{
		padding: 0.5rem 0.5rem;
	}
}
/* 当屏幕小于576px时 */
@media (max-width:576px) {
	/* 头部导航caid大小发生变化 */
	.header #collapsibleNavbar>.navbar-nav a{
		padding: 0;
	}
}


/* ----------------------底部样式---------------------- */
.footer{
	background-color: #363636;
	overflow: hidden;
	padding: 1.5em 0;
	font-size: 0.8em;
	margin-top: 2px;
}
.footer span{
	font-size: 1.2rem;
}
.footer p{
	color: #fff;
	line-height: 1.8em;
	vertical-align: middle;
	margin: 0.4em 0;
}
.footer a{
	color: #fff;
}
/* ------------------搜索区------------------ */
.navbar-shopcart{
	margin-left: 1.5rem;
}
.navbar-shopcart>a>span{
	font-size: 2rem;
}
.search>.search-form{
	
	width: 100%;
}
/* 当屏幕小于768px时 */
@media (max-width:768px) {

	.search>.search-form{
		margin-top: 30px;
	}

}
/* 当屏幕小于576px时 */
@media (max-width:576px) {

	.search>.search-form{
		margin-top: 30px;
	}

}

/* ---------------宝贝信息--------------- */
.row{
	background-color: #f7f7f9;
	width: 1100px;
	border-radius: 10px;
}
.goods-info{
	padding: 50px 20px;
	width:100%;
	background-color: #dce1e7;
}
@media (max-width:1100px) {

	.row{
		background-color: #f7f7f9;
		width: 567px;
		border-radius: 10px;
	}
	
}
/* ---------------宝贝信息左边--------------- */
ul{
	margin:0;
	padding:0;
	list-style:none;

}
.itemarea{
	margin-top: 60px;
	margin-left: 100px;
	position:relative;
	height:400px;
	width:400px;
	}
.itemarea .pic img{
	width:400px;
	height:400px;	
}

.list img{
	width:60px;
	height:60px;
	display:block;	
	border-radius: 50%;
}
.list{
	height: 500px;
	margin-top: 20px;
	display:flex;
	flex-direction:column;
	float: left;
}
.list div{
	border-radius: 50%;
	margin:auto;	
}
.list .current{
	border:1px #000 solid;
	border-radius: 50%;
}
.itemarea .pic{
	margin-bottom:5px;
	/* display: none; */
}
.itemarea .detail{
	z-index: 1;
	position:absolute;
	top:0;
	left:400px;
	height:400px;
	width:400px;
	background-size:200%;
	display: none;
}

.itemarea .pic .cover{
		opacity:100%;
		width:200px;
		height:200px;
		position:absolute;
		left:0;
		top:0;	
	}
/* 关闭按钮 */
.chainput{position:absolute;right: 20px;top:20px;z-index: 1; background-repeat:no-repeat;width:50px; height:50px;  }
/* 播放按钮 */
.startinput{position:absolute;left:  20px;bottom:20px;z-index: 1; background-repeat:no-repeat;width:80px; height:80px; }

/* -----------------宝贝信息右边------------ */
.rightgoods{
	width: 500px;
	margin-left: 50px;
}
.leftgoods{
	margin-left: 100px;
	padding-top: 30px;
	width: 400px;
}
.chima img{
	margin-left: 10px;
}

/* -----------------宝贝详情页------------ */
.xiangq{
	padding-top: 50px;
	width: 1040px;
}
.xq1{
	font-size: 28px;
	width: 50%;
	border-bottom: 2px #000 solid;
	/* border-right: 2px #979797 solid; */
}
.xq2{
	color: #979797;
	font-size: 28px;
	width: 50%;
	border-bottom: 2px #979797 solid;
}

@media (max-width:1040px) {
	
	.xiangq{
		width: 100%;
	}
	.xqtu{
			width: 100%;
	}
	.xqp{
		width: 100%;
	}
}
@media (max-width:1080px) {
	.ccc{
			display: none;
		}
}
